# Beautifying the Flowers Data Analysis
## Adriel Zagala

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sklearn as sk
#imports needed to visualize and tranform the dataset

- Import pandas, matplotlib, seaborn, sklearn libraries
- Read csv file named as iris.csv

### Loading Data

In [2]:
df = pd.read_csv ('Iris_1.csv')
#saving dataset to dataframe

---

### Requirements


- Show first five records
- Show a dataframe which has sepal width greater than 4
- Show a dataframe which has petal width greater than 1
- Retrieve records which have petal width more than 2
- Figure out the relationship between sepal length and petal length and draw a scatter plot between them and show the relationship between them
- Now apply species as hue in the same scatter plot for better visibility and
understanding

In [4]:
df.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa